* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
      body {
        background-color: #0f172a;
        color: white;
      }
nav ul {
  display: flex;
  justify-content: space-between;
}
.status-online {
  background: linear-gradient(45deg, #00ff88, #00cc66);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.card {
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.sos-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bi-bootstrap {
  color: #fff;
}

.text-warning {
  font-weight: bold;
}

footer {
  border-top: 10px solid;
  border-image: linear-gradient(
    90deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #8b00ff
  ) 1;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
